.navbar i
{
  color: rgb(66, 114, 38);
}
.navbar-brand
{
   margin-right: 7em !important;
   font-weight: 1000;
}
#navbarNav 
{
    width: 23em !important; 
    justify-content:start !important;
    overflow: hidden ; 
    white-space: nowrap;
}

#navbarNav a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 4px;
    margin-right: 5px;
    color: rgb(35, 26, 26);
}
.othersources
{
    height:100vh;
    overflow: scroll;
}
.othersources a
{
    text-decoration: none;
    color: rgb(77, 77, 77) !important;
}