<footer>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h5>Contact</h5>
            <p><i class="fa fa-phone" aria-hidden="true"></i> +254 725801772</p>
            <p><i class="fa fa-envelope-o" aria-hidden="true"></i> koechkelvin97@gmail.com</p> 
            Designed by Kelvin Kipchumba Koech
        </div>
        <div class="col-md-7">
            <h5>Follow Me &#128525</h5>
            <div class="social-media">

                <a href="https://web.facebook.com/koechkelvin97" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/triplek254" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/triple_.k._/" target="_blank" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/triple-k-b4b8a514a/" target="_blank" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://github.com/k-koech" target="_blank" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
            <p class="copyright">&copy;Kelvin Kipchumba Koech <script>document.write(new Date().getFullYear());</script>. All rights reserved</p>
            <p>Powered by <a href="https://newsapi.org">NewsAPI</a></p>
        </div>
    </div>  
</div>
</footer>

