{% extends 'base.html'%}

<!-- Content block -->
{% block content %}
<div class="container">
    {% for article in source_details %}
    <div class="row articles">
        <div class="col col1">
            <img src="{{ article.image }}" class="img-fluid" alt="...">
        </div>
        <div class="col col2">
            <h5><a  href="/source/article/{{ article.title }}">{{ article.title }}</a></h5>
            <p>{{ article.description }}</p>
            <p class="date">{{ article.date_published }}</p>
            <!-- <p>{{ article.image }}</p> -->
            <a type="button" href="/source/article/{{ article.title }}" class="btn btn-secondary float-right">Read the article</a>

        </div>
    </div>
    {% endfor %}
  
</div>
{% endblock  %}