{% extends 'base.html'%}

<!-- Content block -->
{% block content %}
<div class="container article-container">
    <h5 class="m-2">{{ source }}</h5>
    {% for article in source_details %}
    <div class="row articles">
        <div class="col col1">
            <img src="{{ article.image }}" class="img-fluid" alt="...">
        </div>
        <div class="col col2">
            <h5><a  href="{{ article.url }}">{{ article.title }}</a></h5>
            <p>{{ article.description }}</p>
            <p ><i>Posted on </i><span class="date">{{ article.date_published }}</span></p>
            <a type="button" href="{{article.url }}" class="btn btn-secondary float-right">Read the article</a>

        </div>
    </div>
    {% endfor %}
  
</div>
{% endblock  %}